body{
    background-color: hsl(47, 88%, 63%);
    margin: 0;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}
.container{
    width: 350px;
    height:500px;
    background-color: white;
    margin: 50px auto ;
    box-shadow: 6px 6px ;
    border-radius: 10px;
    border: 1px solid;
}
img{
    width:310px ;
    /* height: 200px; */
    margin: 20px;
    border-radius: 10px;
}
button{
    margin-left:20px;
    margin-bottom: 20px;
    background-color:  hsl(47, 88%, 63%);
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 80px;
    font-weight: 800;
}
.contant>p{
    margin:0;
    margin-left: 20px;
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}
h2:hover{
    color:hsl(47, 88%, 63%); 
    cursor: pointer;
}
.contant>img{
    width: 30px;
}
span{
    position: relative;
    bottom:30px;
    font-weight: 800;
}
h2{
margin-left: 20px;

}

#p1{
    color: hsl(0, 0%, 42%);
}